button{
    padding: 20px;
    width: 100px;
    font-size: 18px;
    border: 1px solid black;
    background-color: #9893DA;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: black;
    transition: 0.3 ease;
}
button:hover{
    cursor: pointer;
    background-color: #797A9E;

}
fieldset{
    padding-top: 100px;
    border-color: #625F63;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #72727E;
    

}
.screen1{
    width: 400px;
    height: 50px;
    border: 2px solid black;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: block;
    padding: 10px;
    position: absolute;
    margin-top: -100px;

  
}
.orta{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
body{
    background-color: #BBBDF6;
}

